.aboutWrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10rem;
}

.profPic {
    height: 100%;
    max-width: 30%;
    margin-right: 8rem;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutMe {
    margin: auto 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 200%;
}

.aboutTextWrapper{
    display: flex;
    flex-direction: column;
}

.aboutTextWrapper p+p{
    margin-top: 2rem;
}